* {box-sizing: border-box;}
form {
    width: auto;
    float: right;
    margin-right: 30px;

}
input {
    width: 1400px;
    height: 42px;
    padding-left: 15px;
    border-radius: 42px;
    outline-width:2px;
    background: white;
    outline-color: rgb(70 101 215);
;
}

button {
    width: 60px;
    height: 42px;
    background: #4665d7;
    top: 3px;
    right: 15px;
}
button:before{
    content: "\f002";
    font-family: FontAwesome;
    color: #324b4e;
}
.header{
    color: #4665d7;
    font-size: 1.5rem;
    line-height: 1.25;
    font-weight: 600;
    margin-left:400px;
    width: 40%;

;

}
.picture{
    margin-left:550px;
    float: left;

}

h3{
    color: #4665d7;

    margin-right: 200px;
}
.texttt{
    color: #000;
    font-family: Source Sans Pro,sans-serif;
    font-size: 100%;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 90px
;
}

.info{
    margin-top: 200px;
    margin-left: 300px;
    color: #4665d7;
    border-color: #4665d7;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1;
    text-decoration: underline;
    margin-right: 1000px;
}
.price{
    max-width: 400px;
    margin-left: 80%;
    color: #4665d7;
    font-size: 30px;
    font-weight: 700;
}

.width{
    margin-right: 150px;
}
.button_button{
    width: 100px;
    lign-items: center;
    background: #4665d7;
    border: 1px solid transparent;
    border-radius: 31px;
    box-sizing: border-box;
    color: #fff;
    display: inline-flex;
    font-size: 18px;
    height: 42px;
    justify-content: center;
    outline: 0!important;
    padding: 0 20px;
    transition: .25s ease-in-out;
    transition-property: background-color,border-color,color;
}

.ProductDescription{
    width: 100%;
    clear: both;
    padding-top: 1.5rem;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 0;
    margin-left: 300px;
}

.color{
    color: red;
}
.instruction{
    margin-left: 800px;
    margin-bottom: 100px;
    color: #4665d7;
    border-color: #4665d7;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1;
    text-decoration: underline;
    margin-right: 800px;
}
.review{
    margin-left: 1200px;
    margin-bottom: 100px;
    color: #4665d7;
    border-color: #4665d7;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1;
    text-decoration: underline;
    margin-right: 800px;
}