* {box-sizing: border-box;}
form {
    width: auto;
    float: right;
    margin-right: 30px;

}
input {
    width: 1400px;
    height: 42px;
    padding-left: 15px;
    border-radius: 42px;
    outline-width:2px;
    background: white;
    outline-color: rgb(70 101 215);
;
}

button {
    width: 60px;
    height: 42px;
    background: #4665d7;
    top: 3px;
    right: 15px;
}
button:before{
    content: "\f002";
    font-family: FontAwesome;
    color: #324b4e;
}
.header{
    color: #4665d7;
    font-size: 1.5rem;
    line-height: 1.25;
    font-weight: 600;
    margin-left:400px
;

}
.picture{
    margin-left:550px;
    float: right;
}

